---
layout: default
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: site.date_format }}
      {% if page.tags != empty %}
            &nbsp;|&nbsp; <i class="fa fa-tags" aria-hidden="true"></i>
            {% assign tags = '' %}
            {% for tag in page.tags %}
              {% capture linkified_tag %}|<a href="{{ site.page_root }}/tag/{{ tag }}">{{ tag }}</a>{% endcapture %}
              {% assign tags = tags | append: linkified_tag %}
            {% endfor %}
	    {{ tags | remove_first: '|' | split: '|' | join: ', ' }}
      {% endif %}
      {% if page.author %}
          &nbsp;|&nbsp; <i class="fa fa-child" aria-hidden="true"></i>
              {{ page.author }}
      {% endif %}
  </span>
  {{ content }}
</div>
